@import url('https://fonts.googleapis.com/css2?family=Exo+2&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap');




* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Exo 2', sans-serif;
    text-decoration: none;
}

body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #f2f2f2;
}

/* header start */
/* Menu  Start */
header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: white;
    z-index: 998;
}

/* Header superior */
.header_superior {
    max-width: 1200px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

/* contenedor_menu Start*/
.container_menu {
    height: 60px;
    background: rgb(255, 255, 255);
    padding: 0px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@media screen and (max-width: 400px){
    .container_menu{
        padding:0px ;
    }
}

/* icono del menu */
.bx-menu-alt-left{
    font-size: 35px;
    color: black;
    cursor: pointer;
}

/* menu desplegable */
nav {
    height: 100%;
}

nav > ul {
    height: 100%;
    display: flex;
}

nav  ul  li {
    height: 100%;
    list-style: none;
    position: relative;
}


/* estilos del menu desplegable */
nav > ul > li > a {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 14px;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    font-size: 14px;
    transition: all 200ms ease;
}

nav > ul > li > a:hover{
    transform: scale(1.1);
    background-color: #DF5881;
    color: rgb(255, 255, 255);
    box-shadow: 0px 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

/* menu desplegable sublista NEW */
#selected {
    transform: scale(1.1);
    background-color: #DF5881;
    box-shadow: 0px 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

/* submenu */
nav  ul li ul {
    width: 200px;
    display: flex;
    flex-direction: column;
    background-color: white;
    position: absolute;
    top: 90px;
    left: -5px;
    padding: 14px 0px;
    visibility: hidden;
    opacity: 0;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    z-index: 10;
    transition: all 300ms ease;
}

nav  ul li:hover ul{
    visibility: visible;
    opacity: 1;
    top: 70px;
}

/* estilos del menu despegable es el piquito que aparece en la nota cuando se selecciona algo del menu */
nav ul li ul:before {
    content: '';
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right:  12px solid transparent;
    border-bottom: 12px solid white;
    position: absolute;
    top: -12px ;
    left: 20px;
}

nav ul  li ul  li a {
    display: block;
    color: #DF5881;
    padding: 6px;
    padding-left:14px ;
    margin-top: 10px;
    font-size: 14px;
    text-transform: uppercase;
    transition: all 300ms ease;
}

nav ul  li ul  li a:hover {
    background: #DF5881;
    color: rgb(255, 255, 255);
    transform: scale(1.1);
    padding-left: 30px;
    font-size: 14px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

/* checkbox del logo del menu */
#check_menu {
    display: none ;
}

#label_check {
    width: 35px;
    height: 100%;
    display: none;
}
/* Menu  end */

/* menu desplegable responsive start */
@media screen and (max-width:5000px){ 
    nav > ul {
        flex-direction:column ;
        background-color: rgb(255, 255, 255);
        position: fixed;
        left: 0;
        top: 60px;
        width: 100%;
        height: 0px;
        transition: all 300ms ease;
        z-index: 100;
        opacity: 0;
        visibility: hidden;
    }

    nav > ul > li > a:hover {
        transform: scale(1);
    }
    
    nav ul li ul {
        left: 90px;
    }

    nav > ul > li:hover ul {
        top: 50px;
    }

     nav > ul > li:first-child a {
        background-position: 20px;
    }

    #selected {
        transform: scale(1);
    }

    #label_check {
        display: block;
    }
       
    #check_menu:checked ~ nav > ul {
        height: 300px;
        visibility: visible;
        opacity: 1;

    }   
}
 /*menu desplegable responsive end  */

.logo-img{
    display: inline-block;
    width: 400px;
    height: 40px;
}
@media screen and (max-width: 800px){
    .logo-img{
        width: 200px;
        height: 20px;
    }
}
@media screen and (max-width: 400px){
    .logo-img{
        width: 100px;
        height: 10px;
    }
}
.btn-inicio{
    display: flex;
}

/* select start*/
.select-menu .select-btn{
    margin-right:4px;
    display: flex;
    background: rgb(255, 255, 255);
    padding: 0px 5px ;
    font-size: 15px;
    /* font-weight: 400; */
    border-radius: 8px;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);  
}
@media screen and (max-width: 769px) {
    .select-menu{
        visibility:hidden ;
        width: 0px;
        height: 0px;
    }
}


.select-btn .bx-chevron-down{
    font-size: 25px;
    transition: 0.3s;
}

.select-menu.active .select-btn .bx-chevron-down {
    transform: rotate(-180deg);
}

.select-menu .options{
    position: relative;
    padding: 5px;
    margin-top: 50px;
    border-radius: 8px;
    background: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    display: none;
    z-index: 999;

}
.select-menu.active .options {
    display: block;
}

.options .option{
    display: flex;
    cursor: pointer;
    border-radius: 8px;
    align-items: center;
    background: #ffffff;
}
.options .option:hover{
    background-color: #eeeeee;
}

.option .bxs-florist{
    font-size: 25px;
}
.option .bx-restaurant{
    font-size: 25px;
}
.option .bxs-navigation{
    font-size: 20px;
}
.option .bxs-plane-alt{
    font-size: 25px;

}
.option .option-text{
    font-size: 15px;
    color: #333;
}
/* select end */

.bx-search {
    font-size: 20px; 
    margin-right: 4px;
}

.bx-cart {
    font-size: 20px; 
    margin-right:4px;
}

.btn-funcionalidades{
    display: flex;
    padding: 0 5px;
    cursor: pointer;
    margin: 0 3px;
    background: transparent;
    border: none;
}

/* container_menu End*/

/* header Responsive
 End */


 /* Banner 1 start */
 main{
    margin-top: 60px;
 }
.banner-1 {
    background-image: url("../assets/img/banner_1.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 80vh;
}
 @media screen and (max-width:769px){
    .banner-1{
        height: 60vh;
    }
}

.banner-1-box{
    position: relative;
    bottom: -50px;
    margin-left: 30px;
    width: 220px;
    color: white;
 }

 .banner-1-box h3{
    margin-bottom: 15px;
    font-size: 15px;
    font-weight: lighter;
 }

 @media screen and (max-width:769px){
    .banner-1-box{
        /* bottom: -300px; */
        font-size: 15px;
    }
    .banner-1-box h2{   
        font-size: 13px;
    }
    .banner-1-box h3{   
        font-size: 10px;
    }
    .banner-1-box {
        font-size: 10px;
    }
}


.sub{ 
    font-family: "Kode Mono", monospace;  
    margin-bottom: 15px;  
}

.btn-banner-1{
    color: black;
    display: inline-block;
    background-color: white;
    padding: 10px 60px;
    margin-top: 10px;   
}
/* banner 1 end */

/* section icons start */
.icons-cards{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 25px;
    text-align: center;
}
.card-1 img{
    width: 100px;
}

@media screen and (max-width: 769px) {
    .icons-cards{
        grid-template-columns:repeat(2, 1fr);
    }
    .card-1{
        margin-bottom: 30px;
    }
    .card-1 img{
        width: 80px;
    }
}

/* section icons end */

/* encabezado slider 1 start */
.slider{
    margin: 100px 0px;
}
.slider-encabezado{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.title-slider{
    margin-bottom: 10px;
    font-size: 35px;
    padding-left: 10%;
}

@media screen and (max-width: 769px){
    .title-slider{
        font-size: 20px;
    } 
}
.hr{
    width: 30%;   
     margin-left: 50px;
}
/* encabezado slider 1 end */


/* Styles of slider cards  START */
.card-2{
    width: 300px;
    height: auto;
    background: #f2f2f2;
    display: inline-block;
}

.card-2-elements{
    padding: 15px;
}

.card-2 img{
    width: 100%;
    transition: all ease 2s;
}

.card-2 img:hover{
    width: 100%;
    transform: translateY(-10px);
}

.card-2-text-icons{
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.card-2-text-icons div p{
    font-size: 10px;
}

.card-2-text{
    margin-bottom: 30px;
    
}

.card-2-text p {
    font-size: 15px;
}
.card-2-btn{
    background-color: #242424;
    color: white;
    text-align: center;
    width: 100%;
    padding: 5px 0 ;
}
.card-2-btn:hover{
    cursor: pointer;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
}
/* Styles of slider cards  END */

/* Slider 1 Start */
.body-slider{
    width: 80%;
    margin: 0 auto;
    /* display: flex;
    justify-self: center;
    align-items: center; */
}
.wrapper{
    max-width: 100%;
    position: relative;

}
.wrapper .icon-tools{
    top: 50%;
    height: 46px;
    width: 46px;
    cursor: pointer;
    position: absolute;
    text-align: center;
    font-size: 1.2rem;
    line-height: 46px;
    border-radius: 50%;
    background: #fff;
    transform: translateY(-50%);
}
.wrapper .icon-tools:first-child{
    left: -23px;
    display: none;
}
.wrapper .icon-tools:last-child{
    right: -23px;
}
.wrapper .carousel{
    cursor: pointer;
    font-size: 0px;
    white-space: nowrap;
    overflow: hidden;
    scroll-behavior: smooth;
}

.carousel .dragging{
    cursor: grab;
    scroll-behavior: auto;

}


.carousel .dragging .card-2{
    pointer-events: none;
}
.carousel .card-2{
    height: auto;
    object-fit: cover;
    margin-left: 14px;
    width: calc(100% / 3);
}

.carousel .card-2:first-child{
    margin-left: 0px;
}
/* Slider 1 responsive Start */
@media screen  and (max-width: 900px){
    .carousel .cadr-2{
        width: calc(100% /2);
    }
}

@media screen  and (max-width: 550px){
    .carousel .card-2{
        width:100%;
    }
}
/* Slider 1 responsive End */
/* Slider 1 End */

/* video section start */
.video-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%; /* Proporción de aspecto 16:9 (9/16 * 100) */
    overflow: hidden;
}

#video-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
/* video section end */

/* slider 2 start */
/* estilos del contenedor principal */
.container-carousel{
    position: relative;
    width: 100%;
    height: 85vh; 
    background: #e0e0e0;
    overflow: hidden;
}
/* Final de los estilos del contenedor principal */

/* estilos del contenedor donde estaran las img */
.carruseles{
    width: 300%; /* se cambio el width dependiendo del numero de las imagenes*/
    height: 100%;
    display: flex;
}

.slider-section{
    width: calc(100% / 3); /*/* se divide entre 3 por el numero de imagenes */ 
    height: 100%;
    object-fit: cover;  
}
@media screen  and (max-width: 769px){
    .container-carousel{
        height: 30vh;
    }
    .slider-section img{
        height: 30vh;
    }
}

/*Controls Start */
.btn-left,
.btn-right{
    display: flex;
    position: absolute;
    top: 50%;
    font-size: 1.5rem;
    background-color: transparent;
    border-radius: 50%;
    padding: 5px;
    font-weight: 600;
    cursor: pointer;
    color: #ffffff81;
    transform: translate(0, -50%);
    transition: .5s ease;
    user-select: none;
}
.btn-left:hover,
.btn-right:hover{
    background: #333333d4;
    color: #ffff;
}
.btn-left{
    left: 10px;
}
.btn-right{
    right: 10px;
}
/*Controls End */
/* slider 2 end */

/*  Banner 2 Start  */
.banner-2{
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    background-color: #fff;
    gap: 20px; 
}

.banner-2-img{
    height: 110vh;
    background-image: url(../assets/img/banner_2.jpg);
    background-repeat:no-repeat ;
    background-position: center center;
    background-size: cover;  
}

.banner-2-text{
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 769px) {
    .banner-2{
        grid-template-columns: repeat(1, 1fr); 
        /* height: px; */
    }
    .banner-2-img{
        height: 60vh;
        background-position: center center;
    }
    .banner-2-text{
        height: 60vh;
    }
}
.banner-2-text div{
    padding: 0 50px;
}
.banner-2-text div h1{
    font-size: 30px;
    margin-bottom: 25px;
}
.banner-2-text div p{
    margin-bottom: 25px;
}
.banner-2-text div a{
    padding: 10px 60px ;
    width: 100px;
    border: 1px solid #f2f2f2;
    color: black;
    transition: all ease 0.5s;
}
.banner-2-text div a:hover{
    border-color: black;
}
/* Banner 2 End */
/* Footer Start */
footer{
    background-color: #f2f2f2;
}
.footer-container{
    width: 60%;
    margin: 0 auto;
    /* height: 700px; */
}

@media screen and (max-width: 769px) {
    .footer-container{
        width: 100%;
    }
}

/* icons footer start */
.footer-icons-cards{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    margin-top: 20px;
}
.card-3 img{
    width: 60px;
}
.card-3 p{
    font-size: 13px;
}
/* icons footer end */

/* responisve icons footer start */
@media screen and (max-width: 769px) {
    .card-3 img{
        width: 40px;
    }
    .card-3 p{
        font-size: 10px;
    }
    .card-3{
        margin: 10px;
    }
}
/* responsive icons footer end */

.footer-form div{
    width: 90%;
    margin: 0 auto;
}
@media screen and (max-width: 769px) {
    .footer-form{
        width: 100%;
    }
    .footer-form div{
        width: 90%;
    }
}

.footer-form-heading{
    font-size: 20px;
    text-align: center;
    margin:30px 0px;
    
}

@media screen and (max-width: 769px){
    .footer-form-heading{
        font-size: 13px;    
    }
}

.footer-form-email{
    display: flex;
    justify-content: space-between;
}
@media screen and (max-width: 769px){
    
}
.footer-form-input{
    display: inline-block;
    width: 77%;
    padding: 15px;
}
@media screen and (max-width: 769px){
    
}

.footer-form-btn{
    display: block;
    width: 20%;
    background: #000;
    color: #fff;
    border: none;
}
@media screen and (max-width: 769px) {
    .footer-form-btn{
        font-size: 10px;
    }
}
.footer-form-text{
    text-align: center;
    font-size: 10px;
    margin: 10px 0;
}

/*  Footer social media Start*/
.footer-social-media{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 31px;
}
.footer-social-media i {
    margin: 40px;
    color:#2e2e2e;
}
@media screen and (max-width: 769px) {
    .footer-social-media i {
        margin: 10px;
    }
}
/* Footer social media End */
.footer-enlaces{
    margin: 30px 0px;
}
.enlaces-media-1{
    display: flex;
    justify-content: space-between;
}
.enlaces{
    width: 20%;
    font-size:12px;  
}
.enlaces a{
     color: #2e2e2e;
}
.enlaces-for{
    width: 30%;
}
.enlaces-h1{
    font-size: 15px;
    margin-bottom: 10px;
}
.enlaces-text{
    font-size: 10px;
    color: #2e2e2e;
}

@media screen and (max-width: 759px) {
    .enlaces-media-1{
        margin-top: 0px;
        display: none;
        width: 0px;
        height: 0px;
    }
    .enlaces{
        width: 0px;
        height: 0px;
    }
    .enlaces-for{
        width: 0px;
        height: 0px;
    }
    .enlaces-h1{
        font-size: 0px;
        margin-bottom: 0px;
    }

}

/* -------------------- */

.nav {
    display: none;
    width: 150px; 
    margin : 10px auto; 
}

@media screen and (max-width: 769px) {
    .nav{
        display: block;
    }
}
  
  .span {
    font-size : 1.2em;
    cursor : pointer;
    display: block;
    text-align: center;
    border: 1px solid #d9d9d9;
    border-radius: 5px;
  }
  
  .span::after {
    float: right;
    right: 10%;
    content: "+";
  }
  
  .slide {
    clear:both;
    width:100%;
    height:0px;
    overflow: hidden;
    text-align: center;
    transition: height .4s ease;
  }
  
  .slide li {
    padding : 10px;
}

  .slide li a{
    text-decoration: none;
    font-size: 15px;
    color: #000;
  }


  /* @media screen and (max-width: 769px) { */
    #touch {position: absolute; opacity: 0; height: 0px;}    
  
    #touch:checked + .slide {height: 250px;} 
  
    #touch2 {position: absolute; opacity: 0; height: 0px;}    
    
    #touch2:checked + .slide {height: 180px;} 
  
    #touch3 {position: absolute; opacity: 0; height: 0px;}    
    
    #touch3:checked + .slide {height: 130px;} 
/* } */
/* Footer End */

/* First modal Start */
.section{
    position: relative;
    width: 100%;
    display: block;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .modal-btn:checked + label .uil,
  .modal-btn:not(:checked) + label .uil{
      margin-left: 10px;
      font-size: 18px;
  }
  
  .modal{
    position: fixed;
    display: block;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0 auto;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    overflow-x: hidden;
    background-color: rgba(31,32,41,.75);
    pointer-events: none;
    opacity: 0;
    transition: opacity 250ms 700ms ease;
  }
  .modal-btn:checked ~ .modal{
    pointer-events: auto;
    opacity: 1;
    transition: all 300ms ease-in-out;
  }
  .modal-wrap {
    position: relative;
    display: block;
    width: 100%;
    max-width: 400px;
    height: 705px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 4px;
    overflow: hidden;
    padding-bottom: 20px;
    background-color: #fff;
      -ms-flex-item-align: center;
      align-self: center;
      box-shadow: 0 12px 25px 0 rgba(199,175,189,.25);
    opacity: 0;
    transform: scale(0.6);
    transition: opacity 250ms 250ms ease, transform 300ms 250ms ease;
  }
  .modal-wrap img {
    display: block;
    width: 100%;
    height: auto;
  }
  .text-1{
    margin-bottom: 25px;
    font-size: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
 }
 .text-2{
    font-size: 13px;
    text-align: center;
    justify-content: center;
 }
 .elements-first-modal input{
    display: block;
    width: 70%;
    margin-top: 40px;
    margin-left: 50px;
    padding: 15px;
    height: 20px;
    border: 1px solid #000;

 }
 .elements-first-modal button{
    display: block;
    width: 70%;
    margin-top: 15px;
    margin-left: 50px;
    background: #000000;
    color: #ffffff;
    border: 1px solid #000;
    height: 40px;
 }

  .modal-btn:checked ~ .modal .modal-wrap{
    opacity: 1;
    transform: scale(1);
    transition: opacity 250ms 500ms ease, transform 350ms 500ms ease;
}
  .modal-close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}
.xbtn{
    display: none;
}
  
  @media screen and (max-width: 500px) {
      .modal-wrap {
          width: calc(100% - 40px);
          padding-bottom: 15px;
          height: 700px;
      }
      .xbtn{
        display: block;
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 25px;
        color: #fff;
        cursor: pointer;
    }
    .modal-close-btn{
        display: none;
    }
  }
  
  /* First modal End */

/* modal 2 */
.section-modal-2{
    position: relative;
    display: block;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: center;
    justify-content: flex-end;
  }

.modal-2{
    position: fixed;
    display: block;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: center;
    justify-content: flex-end;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    overflow-x: hidden;
    background-color: rgba(31,32,41,.75);
    pointer-events: none;
    opacity: 0;
    transition: opacity 300ms 200ms ease;
}
.modal-btn-2:checked ~ .modal-2{
    pointer-events: auto;
    opacity: 1;
    transition: all 200ms ease-in-out;
}
.modal-wrap-2 {
    position: relative;
    display: block;
    width: 100%;
    max-width: 400px;
    height: 100%;
    overflow: hidden;
    padding-bottom: 20px;
    background-color: #fff;
    -ms-flex-item-align: center;
    align-self: center;
    box-shadow: 0 12px 25px 0 rgba(199,175,189,.25);
    opacity: 0;
    transform: scale(0.6);
    transition: opacity 250ms 250ms ease, transform 300ms 250ms ease;
}

.modal-btn-2:checked ~ .modal-2 .modal-wrap-2{
    opacity: 1;
    transform: scale(1);
    transition: opacity 250ms 500ms ease, transform 350ms 500ms ease;
}

@media screen and (max-width: 500px) {
  .modal-wrap-2 {
      width: calc(100% - 40px);
      padding-bottom: 15px;
  }

}
.xbtn2 {
  position: absolute;
  top: 18px;
  margin-left: 20px;
  font-size: 44px;
  color: #313131;
  border: none;
  cursor: pointer;
}
.text-cart-modal{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 80%;
    font-size: 18px;
    color: #3f3f3f;
    
}
.links-modal-cart a{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 10px;
    margin-top: 30px;
    padding: 15px 60px ;
    width: 200px;
    border: 1px solid #dddddd;
    color: black;
    font-size: 12px;
    transition: all ease 0.5s; 
}
.links-modal-cart a:hover{
    border-color: black;
}
/* Modal End*/









